.custom-quotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-quotes-message {
  width: 100%;
  margin-top: 150px;
  font-size: 1.5rem;
}

.create-quote-link {
  width: 180px;
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-bottom: solid 3px rgb(236, 208, 51);
}

/* Dark mode styling */
.custom-quotes-container-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
