.my-quotes {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-bar {
  width: 70vw;
  height: 60px;
  margin: 80px 0 40px 0;
  border-bottom: solid 2px rgb(236, 208, 51);
  display: flex;
}

.tab-btn {
  padding: 6px 22px;
  background-color: transparent;
}

.add-quote-btn {
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 6px 22px;
  border-radius: 15px;
  border: solid 3px #212121;
  background-color: rgb(255, 225, 58);
  font-weight: bold;
  transition: all 0.2s linear;
}

.add-quote-btn:hover {
  background-color: rgb(251, 231, 115);
}

.my-quotes-body {
  margin-bottom: 200px;
}

/* Quote cards styling */

.quote-card {
  width: 70vw;
  height: 120px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border: solid 1px #f2f2f2;
}

.quote-card-section {
  width: 140px;
  display: flex;
  justify-content: center;
}

.quote-avatar {
  transform: scale(0.7);
}

.quote-card-body {
  width: 100%;
}

.remove-btn {
  width: 36px;
  height: 36px;
  margin-left: 30px;
  font-weight: bold;
  color: #d3d3d3;
  background-color: transparent;
  border: solid 3px #d3d3d3;
  border-radius: 50px;
}

.remove-btn:hover {
  color: #d33f3f;
  border: solid 1px #d33f3f;
}

.quote-card-text {
  padding: 6px;
}

.quote-card-author {
  padding: 6px;
}

/* Dark mode styling */
.my-quotes-dark {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-quotes-dark button {
  color: #ffffff;
}

.my-quotes-dark .add-quote-btn {
  color: #212121;
}

.quote-card-dark {
  width: 70vw;
  height: 120px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border: solid 1px #3f3f3f;
}
.quote-card-dark h4 {
  color: #ffffff;
}

.quote-card-dark p {
  color: #ffffff;
}
