.navbar-container {
  width: 100vw;
}

.navbar {
  height: 40px;
  padding: 20px 100px 20px 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .nav-links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 6px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.nav-logo {
  transform: scale(0.8);
}

.dark-mode-icon {
  margin-left: 48px;
  cursor: pointer;
  transform: scale(0.8);
}

/* Change this property to something nicer looking, that let's the user know when they're on that page */
.navlink-active {
  border-bottom: 3px solid rgb(236, 208, 51);
}

/* Dark Mode Styling */

.navbar-dark {
  height: 40px;
  padding: 20px 100px 20px 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;
}

.navbar-dark .nav-links {
  margin-left: auto;
}

.navbar-dark a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
  font-size: 1rem;
}
