.quote-card {
  width: 66vw;
  height: 140px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border: solid 1px #d3d3d3;
  background-color: #ffffff;
}

.quote-card-section {
  width: 140px;
  display: flex;
  justify-content: center;
}

.quote-avatar {
  transform: scale(0.8);
  margin-left: 20px;
}

.quote-card-body {
  width: 100%;
}

.remove-btn {
  width: 36px;
  height: 36px;
  /* margin-left: 30px; */
  font-weight: bold;
  color: #d3d3d3;
  background-color: transparent;
  border: solid 3px #d3d3d3;
  border-radius: 50px;
}

.remove-btn:hover {
  color: #d33f3f;
  border: solid 1px #d33f3f;
}

.quote-card-text {
  padding: 6px;
  margin-left: 20px;
}

.quote-card-author {
  padding: 6px;
  margin-left: 20px;
}

/* Dark mode styling  */
.quote-card-dark {
  width: 66vw;
  height: 140px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border: solid 1px #161616;
  background-color: #212121;
}
.quote-card-dark h4 {
  color: #ffffff;
}

.quote-card-dark p {
  color: #ffffff;
}
